<title>Profile</title>

<!-- USER'S PROFILE BOX -->
<div class="main-container">

<%= erb :nav %>

<div class="card-container">
  <div class="row box">
    <div class="column"><h3>Hi, <%= @user.first_name %></h3></div>
  </div>

  <div class="row box">
    <div class="column"><h3>Email: <%= @user.email %></h3></div>
  </div>
<hr style="border-color:#B80C09;">

<div class="column">
     <form class="column" action="/users/<%= @user.id %>" method="post">
       <input id="cancel-btn" type="image" src="/images/cancel.png">
     </form>
  </div>
</div>

<!-- USER'S LIST OF POSTS -->

 <div class="post-container">
    <% @posts.each do |p| %>
      <h2><%= p.title %></h2>
      <hr style="border-color:#B80C09;margin-right:50%;">
      <textarea class="post-box" rows="125" cols="30" readonly><%= p.content %></textarea>
      <form action="/posts/<%= p.id %>" method="post">
        <input id="delete-btn" type="submit" value="delete">
      </form>
      <!-- <form action="/posts/<%#= p.id %>/edit" method="post">
        <input id="delete-btn" type="submit" value="edit">
      </form> -->
      <p><a href="/posts/<%= p.id %>/edit">Edit</a></p>
   <% end %>
 </div>
</div>

<%= erb :footer %>
