<title>Profile</title>

<%= erb :nav %>
<%= erb :style %>

<!-- USER'S INFO BOX -->

<div class="pro-container">

  <div class="row box">
     <div class="column"><h3>Hi, <%= @user.first_name %></h3></div>
  </div>

  <div class="row box">
     <div class="column"><h3>Birthday: <%= @user.birthday %></h3></div>
  </div>

  <div class="column">
     <form class="column" action="/users/<%= @user.id %>" method="post">
       <input id="cancel-btn" type="image" src="/images/cancel.png">
     </form>
  </div>
</div>

<!-- USER'S LIST OF POSTS -->

<div class="post-container">
    <% @posts.each do |p| %>
       <div data-aos="flip-up" data-aos-delay="700" data-aos-easing="ease-in-out">
          <h2><%= p.title %></h2>
          <hr style="border-color:#B80C09;margin-right:50%;">
          <textarea class="post-box" rows="125" cols="30" readonly><%= p.content %></textarea>
          <form action="/posts/<%= p.id %>" method="post">
          <input id="delete-btn" type="submit" value="Delete">
          </form>
       </div>
   <% end %>
</div>

<%= erb :footer %>
