<title>Profile</title>

<%= erb :nav %>
<form class="" action="/users/<%= @user.id %>" method="post">
   <input type="submit" value="Cancel Account">
</form>

<h2>Welcome, <%= @user.first_name %></h2>

<% @posts.each do |p| %>
  <h2><%= p.title %></h2>
  <p><%= p.content %></p>
<% end %>

<!-- list remaining attributes (email, posts) in a styled container -->
