<title>Profile</title>

<%= erb :nav %>
<%= erb :style %>

<div class="pro-container">

  <div class="row box">
     <div class="column"><h3>Hi, <%= @user.first_name %></h3></div>
  </div>

  <div class="row box">
     <div class="column"><h3>Birthday: <%= @user.birthday %></h3></div>
  </div>

  <div class="column">
     <form class="column" action="/users/<%= @user.id %>" method="post">
          <input id="cancel-btn" type="submit" value="Cancel Account">
     </form>
  </div>
</div>

<div class="post-container">
  <% @posts.each do |p| %>
    <h2><%= p.title %></h2>
    <textarea name="text" rows="25" cols="30"><%= p.content %></textarea>

  <form action="/posts/<%= p.id %>" method="post">
    <input type="submit" value="Delete">
  </form>

  <% end %>
</div>
