<title>Profile</title>

<!-- USER'S PROFILE BOX -->
<div class="main-container">

<%= erb :nav %>

<div class="card-container">
  <div class="row box"><div class="column"><h4 class="header">name</h4></div></div>
  <div class="row box"><div class="column"><h4 class="headerVal"><%= @user.first_name %></h4></div></div>
  <div class="row box"><div class="column"><h4 class="header">email</h4></div></div>
  <div class="row box"><div class="column"><h4 class="headerVal"><%= @user.email %></h4></div></div>

  <hr style="border-color:#B80C09;">

  <div class="column">
     <form class="column" action="/users/<%= @user.id %>" method="post">
       <input id="cancel-btn" type="submit" value="Cancel">
     </form>
  </div>
</div>

<!-- USER'S LIST OF POSTS -->

<div class="post-container">
  <% if @posts.present? %>
    <% @posts.each do |p| %>
      <h2 class="post-title"><%= p.title %></h2>
      <textarea class="text-box" rows="125" cols="30" readonly><%= p.content %></textarea>
      <form action="/posts/<%= p.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input id="delete-btn" type="submit" value="delete">
      </form>
      <form action="/posts/<%= p.id %>/edit" method="get">
        <input id="edit-btn" type="submit" value="edit">
      </form>
    <% end %>
  <% else %>
    <h1 class="header">No posts found...</h1>
  <% end %>
 </div>
</div>

<%= erb :footer %>
