<!-- EDIT POST -->
<%= erb :nav %>

<div class="main-container">
  <div class="newPost-container">
   <form id="post-form" action="/posts/<%= @post.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="name">Title</label>
      <input id="title" type="text" name="title" autocomplete="off" value="<%= @post.title %>"><br>
      <label for="message">Post</label>
      <textarea id="text" name="content" rows="30" cols="50"><%= @post.content %></textarea><br>

      <p>
        <button class="save-btn" type="submit" onclick="alert('Changes saved!')">Save Changes</button>
      </p>
      <button class="back-btn"><a href="/users/<%= session['user_id'] %>"></a>Back</button>
   </form>
  </div>
</div>

<%= erb :footer %>
